<%= form_for @profile, :url => { :action => "update " } do |f| %>

  <!-- error messages for Profile -->
  <% @profile.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  <!-- error messages for User -->
  <% @current_user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>

  <h1>Personal Info</h1>
  <div class="row well personal-info">
    <h4>First Name:</h4>
    <%= f.text_field :first_name  %>
    
    <h4>Last Name:</h4>
    <%= f.text_field :last_name %>

    <h4>Location:</h4>
    <%= f.text_field :location %>

    <h4>Birthdate:</h4>
    <%= f.text_field :birthdate %>

    <h4>Email:</h4>
    <%= text_field_tag :email, @current_user.email %>

    <h4>Gender:</h4>
    <%= f.label :gender_male, "Male" %>
    <%= radio_button_tag :gender, "male" %>
    <%= f.label :gender_female, "Female"%>
    <%= radio_button_tag :gender, "female" %>

    <h4>Education:</h4>
    <%= f.text_field :education %>

    <h4>Photo</h4>
    <%= f.file_field :photo %>
  </div>

  <hr class="separator">

  <h1>Bio</h1>
  <div class="row well bio">
    <%= f.text_area :bio,:class => "text-area" %>
  </div>

  <hr class="separator">

  <h1>Tags</h1>
  <p>Separate tags with '/'</p>
  <div class="row well tags">
    <%= text_area_tag :tags, @tags.join(" "),:class => "text-area" %>
  </div>

  <hr class="separator">

  <div class="form-actions">
    <%= f.submit "Save changes", :class => "btn btn-primary" %>
    <a href="/home" class="btn">Cancel</a>
  </div>

<% end %>
