<%= stylesheet_link_tag "profiles"%>


  <div id="main-container" class="container">
    <div class="row">
      <div class="span4 sides">

        <div class="profile-box">

          <div class="top-profile-box" >
            <div class="row-fluid">
              <div class="span4">
                <%= image_tag "pic.png" %></div>
                <div class="span8">
                  <a href="#">
                    <h4>
                      <%= @current_user.username %>  
                      <i class="icon-ok-sign icon-white"></i>
                    </h4>
                  <a href="<%= edit_profile_path %>">
                  
                    <h5>Edit my profile</h5>
                  </a> 

              

                </div>
              </div>
            </div>

            <div class="bottom-profile-box" >
              <div class="row-fluid">
                <div class="span4" id="part1">
                  <i class="icon-heart icon-white"></i>
                  <a href="#">
                    <h5>Fans</h5>
                    <h5>124</h5>
                  </a>
                </div>

                <div class="span4" id="part2">
                  <i class="icon-user icon-white"></i>
                  <a href="#">
                    <h5>Friends</h5>
                    <h5>44</h5>
                  </a>
                </div>

                <div class="span4" id="part3">
                  <i class="icon-share icon-white"></i>
                  <a href="#">
                    <h5>Sharing</h5>
                    <h5>12</h5>
                  </a>
                </div>

              </div>
            </div>
          </div>

          <div class="tabbable tabs-left">

            <ul class="nav nav-tabs" id="left-nav">
              <li >
                <a href="home_layout.html" data-toggle="tab">
                  <span>
                    <i class="icon-home"></i>
                    Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li class="active">
                <a href="profile_layout.html" data-toggle="tab" >
                  <span>
                    <i class="icon-user"></i>
                    Profile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="messages.html" data-toggle="tab">
                  <span>
                    <i class="icon-envelope"></i>
                    Messages
                  </span>
                </a>
              </li>
              <li >
                <a href="groups.html" data-toggle="tab">
                  <span>
                    <i class="icon-th-list"></i>
                    Groups
                  </span>
                </a>
              </li>
              <li >
                <a href="friends.html" data-toggle="tab">
                  <span>
                    <i class="icon-user"></i>
                    Friends&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="album_preview.html" data-toggle="tab">
                  <span>
                    <i class="icon-picture"></i>
                    Photos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="videos_preview.html" data-toggle="tab">
                  <span>
                    <i class="icon-film"></i>
                    Videos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="setting.html" data-toggle="tab">
                  <span>
                    <i class="icon-cog"></i>
                    Settings&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
              <li >
                <a href="help.html" data-toggle="tab">
                  <span>
                    <i class="icon-flag"></i>
                    Help&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </li>
            </ul>

          </div>

          <div class="well footer">
            <div class="copyright">
              <p>&copy; Copyright 2012 Dinobot Social Engine</p>
            </div>
            <div class="footer-links">
              <a href="#">About •</a>
              <a href="#">Privacy •</a>
              <a href="#">Terms •</a>
              <a href="#">Advertising</a>
              <a href="#">Blog •</a>
              <a href="#">Contact •</a>
              <a href="#">Help •</a>
              <a href="#">English</a>
            </div>
          </div>
        </div>

        <div class="span8 middle">
          <h1>Personal Info</h1>
          <p id="flash" ><%= flash[:notice] %></p>
          <div class="row well personal-info">
            <h4>Full Name:</h4>
              <%= @profile.first_name %>
            
            <h4>Last Name:</h4>
            <%= @profile.last_name %>
            
            <h4>Location:</h4>
            <%=  @profile.location %>
            
            <h4>Birthdate:</h4>
            <%= @profile.birthdate %>
            
            <h4>EMail:</h4>
            <%= @current_user.email%>
            
            <h4>Gender:</h4>
            <%= @profile.gender %>

            <h4>Education:</h4>
            <%= @profile.education %>

          </div>

          <hr class="separator">

          <h1>Bio</h1>
          <div class="row well bio">
            <p>
              <%= @profile.bio %>
            </p>
          </div>

         <!--  <hr class="separator">

          <h1>Intersests</h1>
          <div class="row well intersests">
            <dl>
              <dt>Description lists</dt>
              <dd>A description list is perfect for defining terms.</dd>
              <dt>Euismod</dt>
              <dd>
                Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
              </dd>
              <dd>Donec id elit non mi porta gravida at eget metus.</dd>
              <dt>Malesuada porta</dt>
              <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
            </dl>
          </div> -->

          <hr class="separator">

          <h1>Tags</h1>
          <div class="row well tags">
            <% unless @profile.tags == [] %>
              <% @profile.tags.each do |tag| %>
              <span class="label label-info"><%= tag.text %></span>
              <% end %>
            <% else %>
              <span class="label label-info">NO TAGS</span>
            <% end %>
          </div>

          <hr class="separator"></div>

       
      </div>
    </div>