
<h1>Personal Info</h1>
<p id="flash" ><%= flash[:notice] %></p>
<div class="row well personal-info">
  <h4>Full Name:</h4>
  <%= @profile.first_name %>

  <h4>Last Name:</h4>
  <%= @profile.last_name %>

  <h4>Location:</h4>
  <%=  @profile.location %>

  <h4>Birthdate:</h4>
  <%= @profile.birthdate %>

  <h4>EMail:</h4>
  <%= @current_user.email%>

  <h4>Gender:</h4>
  <%= @profile.gender %>

  <h4>Education:</h4>
  <%= @profile.education %>
</div>

<hr class="separator">

<h1>Bio</h1>
<div class="row well bio">
  <p> <%= @profile.bio %> </p>
</div>

<hr class="separator">

<h1>Tags</h1>
<div class="row well tags">
  <% unless @profile.tags == [] %>
    <% @profile.tags.each do |tag| %>
    <span class="label label-info"><%= tag.text %></span>
  <% end %>
  <% else %>
    <span class="label label-info">NO TAGS</span>
  <% end %>
</div>

<hr class="separator"></div>

