
<h1 class="ProfileName"><%=@profile.first_name%> <%=@profile.last_name%> </h1> 
<div class= 'ProfileFollowButton'>
  <% unless @profile == @current_user.profile%>
    <%= render(:partial => 'people/person', :locals => {:p => @profile.user.person})%>
  <%end%>
</div>
<h3 style="clear:both;">Personal Info</h3>
<p id="flash" ><%= flash[:notice] %></p>
<div class="row well personal-info">
  <h4>Known As:</h4>
  <%= @profile.user.username %>

  <h4>Location:</h4>
  <%=  @profile.location %>

  <h4>Birthdate:</h4>
  <%= @profile.birthdate %>

  <h4>Email:</h4>
  <%= @profile.user.email%>

  <h4>Sex:</h4>
  <%= @profile.gender %>

  <h4>Education:</h4>
  <%= @profile.education %>
</div>


<h3>Bio</h3>
<div class="row well bio">
  <p> <%= @profile.bio %> </p>
</div>

<h3>Tags</h3>
<div class="row well tags">
  <% unless @profile.tags == [] %>
    <% @profile.tags.each do |tag| %>
    <span class="label label-info"><%= tag.text %></span>
  <% end %>
  <% else %>
    <span class="label label-info">NO TAGS</span>
  <% end %>
</div>


