<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dinobot - Login</title>

     <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    <style type="text/css" media="screen">
       body {
      }

      .signform{
        width:400px;
        height:270px;
        margin: auto;
        position:absolute;
        top:25%;
        left:25%;
        right:25%;
        bottom:25%;
        padding:0px;
        border-radius: 10px;
        border: 1px solid gray;
        background-color: rgba(255, 255, 255, .9);
      }
      .loginheader{
         border-radius:10px 10px 0px 0px;
         background-color:white;
          padding:10px;
           margin:0px;
           height:30px;
           margin-bottom: 20px;
      }
      .signform h3, a{
        margin:0px;
        margin-top: 0px;
        margin-right:5px;
        color:rgb(0, 136, 204);
        text-shadow:none;
       
      }
      .signform a{
        margin-top: 4px;
      }

      .signform .input-xlarge{
        height:20px;
        margin-left:60px;
       margin-bottom: 10px;

        
      }

      .signform label{
        color:#333;
        margin-left:60px;
        
      }

      .loginbot{
       background-color:white;
       height:40px;
       border-radius:0px 0px 10px 10px;
       margin-top: 15px; 
       padding-left: 60px;
       padding-top: 10px;
      }
      .loginbot p{
        margin-left:90px;
        margin-top: 10px;
      }
      .loginbot p input{
        margin-right: 5px;
      }
      .invalid_notice{
        height:25px;
        width: 200px;
        margin:auto;
        margin-top:20px;
        margin-bottom:10px;
      }
      .invalid_notice p{
        text-align:center;
        margin-top:3px;
      }
      .invalid_notice{
        background-color: #FFCCCC;
        border:1px solid red;
      }
    </style>
  </head>
  <body>
    
    <div class="signform">
      <div class= "loginheader">
        <h3 class="pull-left">Login to Dinobot</h3>

        <a href="/" class="pull-right">Home</a>
        <a href="/signup" class="pull-right">Signup </a>

      </div>
      
     <%if flash[:notice]%> 
      <div class="invalid_notice">
       <p><%=flash[:notice]%></p>
      </div>
      <%end%>
      <%= form_tag sessions_path do %>
        
      
        <%= label_tag :username ,"Username or email" %>
       </br>
        <%= text_field_tag(:username, "",:class => "input-xlarge")%>
      
      </br>
        <%= label_tag(:password) %>
       </br>
        <%= password_field_tag :password, "",:class => "input-xlarge" %>

      <a href="" class="pull-right" style="margin-right:60px" >Forgot your password? </a>
        

        <div class="loginbot" style="clear:both;">
          <%= submit_tag("Login", :class=>"btn btn-primary btn-large pull-left") %>
          
          <p><input type="checkbox" class="pull-left"> Remember me</p>
        </div><!-- / -->
      
  <% end %>
  </div>
  </body>
</html>