<div class="content-footer"> 
  <div class="comments">
    <% commentary.comments.each do |comment| %>
      <a href="/comments/<%= comment.id %>" data-method="delete">
        <i class="icon-remove"></i>
      </a>
      <div class="row content-header">
        <div class="span4">
          <a href="#">
            <%= image_tag comment.person.user.profile.photo.url, :class => 'profile-pic' %>

          </a>
        </div> <!-- span4 -->
        <div class="span8">
          <h4>
            <a href="<%= profile_path(comment.person.user.username) %>"><%="#{comment.person.user.profile.first_name.capitalize} #{comment.person.user.profile.last_name.capitalize}"%></a>
          </h4>
          <div class=" comment-title">
            <%=comment.content%>     
          </div> <!-- comment-title -->

          <div class="row header-bottom">
            <div class="span8 comment-actions pull-left ">
              <%= render({:partial => new_action_path, :locals => {:target => comment}})%>
            </div> <!-- /comment-actions -->

            <div class="span4 pull-right ">
              <p> <%= render({:partial => 'home/date', :locals => {:dater => comment}})%> 
              </p>
            </div> <!-- span4 Date-->
          </div><!--row header-bottom-->
        </div> <!-- span8 --> 
      </div> <!-- content-header --> 
    <%end%>  
    <%= form_tag({:controller => 'comments', :action => 'create', :commentary_id => commentary.id, :commentary_type => commentary.class.name}) do  %>
      <%= text_area_tag( :content , "" , {:class => "comment-text-area"} ) %>
      <%= submit_tag("Comment" , :class => "btn btn-primary pull-right") %>
    <% end %>
  </div>  <!-- /comments -->
</div> <!-- /content-footer -->

     <script type="text/javascript">
    //     $(document).ready(function() {
    //      $('.text-area').focus(function(){
    //       $(this).animate({
    //         height: "55px",
    //         borderWidth: "0px"
    //         }, 700 );
    //       });
    //     });
    //     $(document).ready(function() {
    //       $('#click').click(function(){
    //         $('#textarea').animate({
    //           height: "18px",
    //           borderWidth: "0px"
    //         }, 700 );
    //       });
    //     });
    //   </script>