<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Dinobot Social Engine</title>

	<%= stylesheet_link_tag    "dinobot","bootstrap","access", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	
				<!-- Le fav and touch icons -->
				<link rel="shortcut icon" href="images/favicon.ico">
				<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
				<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
				<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"></head>

<body>

				<div class="navbar navbar-fixed-top">
					<div class="navbar-inner">
						<div class="container">
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="i-bar"></span>
								<span class="i-bar"></span>
								<span class="i-bar"></span>
							</a>
							<a class="brand" href="#">Dinobot</a>

							<div class="LoginArea">
								Have Already Account?
								<%= link_to :Login , new_acces_path , class: "btn btn-primary"%>
							</div>

						</div>
					</div>
				</div>

				<div class="container" id="container-main">

					<div class="row">
						<div class="span7">
							<h1>Discover your creative talents, happiness, and fun!</h1>
							<h3>Dinobot is the best place to show your different!.</h3>
							<h3>When it absolutely, positively</h3>
							<h3>has to be overnight</h3>
							
							<%= link_to "Sign Up Now!" , new_user_path , class: "btn btn-large btn-success"%>
							<h2>or connect using</h2>
							<ul class="thirdnav">
								<li>
									<a href="#">
										<div class="thirdprt" id="fb" ></div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="thirdprt" id="tw" ></div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="thirdprt" id="go" ></div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="thirdprt" id="re" ></div>
									</a>
								</li>
							</ul>

						</div>

						<div class="span5">
							<div class="row-fluid" id="info-list">

								<div class="span6">
									<a href="">
										<img src="/assets/icon1.gif">
										<h2>Choice</h2>
										<p class="info">
											You own your pictures, and you shouldn’t have to give that up just to share them.
										</p>
									</a>
								</div>

								<div class="span6">
									<a href="">
										<img src="/assets/icon3.gif">
										<h2>Simplicity</h2>
										<p class="info">
											Social mobility to the movement of individuals groups in social position over time.
										</p>
									</a>
								</div>

								<div class="span6" id="fix">
									<a href="">
										<img src="/assets/icon2.gif">
										<h2>Ownership</h2>
										<p class="info">
											You own your pictures, and you shouldn’t have to give that up just to share them.
										</p>
									</a>
								</div>

								<div class="span6">
									<a href="">
										<img src="/assets/icon2.gif">
										<h2>Mobility</h2>
										<p class="info">
											Social mobility to the movement of individuals groups in social position over time.
										</p>
									</a>
								</div>

							</div>

						</div>
					</div>

				</div>

				<footer class="footer-home">
					<div class="container" id="footer-contrainer">
						<div class="copyright-home">
							<p>&copy; Copyright 2012 Dinobot Social Engine</p>
						</div>
						<div class="footer-links-home">
							<ul>
								<li>
									<a href="#">About</a>
								</li>
								<li>
									<a href="#">Privacy</a>
								</li>
								<li>
									<a href="#">Terms</a>
								</li>
								<li>
									<a href="#">Advertising</a>
								</li>
								<li>
									<a href="#">Blog</a>
								</li>
								<li>
									<a href="#">Contact</a>
								</li>
								<li>
									<a href="#">Help</a>
								</li>
							</ul>
						</div>
					</div>
				</footer>

</body>
</html>