
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login</title>

     <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    <style type="text/css" media="screen">
       body {
        padding-top: 60px;
        font-family:"ubuntu";
        zoom: 96%;
        background-image:url("/assets/patternBg.png");
      }

      .signform{
        width:250px;
        margin:auto;
      }
    </style>
  </head>
  <body>
    
    <div class="signform">
      <h1 color='white'>Log in</h1>
      </br>
     <p> <%= flash[:notice]%> </p>
      <%= form_tag(:action => 'create') do %>
        
      <p>
        <%= label_tag :username %>
        <%= text_field_tag(:username) %>
      </p> 
      <p>
        <%= label_tag(:password) %>
        <%= password_field_tag :password %>
      </p> 
      <td>&nbsp;</td>

      <td><%= submit_tag("Log In", :class=>"btn btn-primary") %></td>
  <% end %>
  </div>
  </body>
</html>