<style type="text/css">
</style>

<h1>Timline</h1>
<div class="share-box">
  <%= form_for @post, :html => {:multipart => true}, :remote => true do |f| %>
    <%= f.text_area(:content, :class => "share-text-area") %>  
    <div class="settings-area">
      <div class="settings pull-right">
        <a id="play" href="#">
          <i  class="icon-play"></i>
        </a>
        <a id="cam" href="#" >
          <i class="icon-camera"></i>
        </a>
        
      </div> <!-- settings pull-right -->
      <div class="btn-group pull-left">
      
      <a class="btn btn-small btn-success dropdown-toggle" id="aspect" data-toggle="dropdown" href="#">Public</a>
      <%= hidden_field_tag "aspect_name", "MyAspects" %>
      <ul class="dropdown-menu">
        <%@current_user.aspects.each do |aspect| %>
        <%next if aspect.name == 'MyAspects'%>
          <li class="divider"></li>
          <li class="aspect-op"><a href="#"> <i class="icon-list"></i> <%= aspect.name %></a></li>
          <li class="divider"></li>
        <%end%> 
      </ul>
      <%= file_field_tag :uploaded_photo, :class =>"pull-left upload", :style => "position:absolute;left:55px;display:none;" %>
      <%= f.text_field :video_url,:class => "pull-left youtube", :style => "height:15px;width:360px;position:absolute;top:2px;left:55px;display:none;"%>
      </div> <!-- btn-group pull-left -->
    </div> <!-- settings-area -->
    <%= f.submit "Share" ,:class => "btn btn-primary pull-right"%>
  <%end%>        
</div>  <!-- /share-box -->
<hr class="separator">
<div class ="pos">  
  <% @posts.each do |post| %>
  	<%=render(:partial => new_post_path, :locals => {:post => post})%>
  	<hr class="separator">
  <% end %>
</div>
 
<script type="text/javascript">
  $(function () {
    $(".aspect-op").click(function () {
      var aspect_name = $(this).text().split(" ").join("");
      $("#aspect").text(aspect_name);
      $("#aspect_name").attr("value",aspect_name);
    });
    $("#cam").on('click',function(){
      $(".youtube").fadeOut();
      $(".upload").fadeIn();
    });
    $("#play").on('click',function(){
      $(".upload").fadeOut();
      $(".youtube").fadeIn();
    });
  });
</script>
