<h2 id="album-header"><%=@album.title%></h2>

<%=link_to({:controller => 'images', :action => 'new', :album_id => @album.id}, :class => "btn pull-left", :id => "add-album") do %>
<i class="icon-plus"></i> Add New Image
<%end%>
<p class = "Album-description" > <%=@album.description%><p>

<div class="well album-thumb">
  <ul class="thumbnails">
    <% @album.images.each do |image| %>
    <li class="span2">
      <a href="<%=image_path(image.id)%>" class="thumbnail">
        <img src= <%= image.image.url(:thumb)%> alt=""></a>
    </li>
   <%end%>
  </ul>
  
</div>

<div id="album-action"  class="well post-actions">
  <ul class="nav nav-pills">
    <li>
      <a href="#">
        <i class="icon-ok"></i>
        Like <sup class="post-counts">32</sup>
      </a>
    </li>
    <li class="active">
      <a href="#">
        <i class="icon-comment"></i>
        Comment <sup class="post-counts">5</sup>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-share"></i>
        Share
        <sup class="post-counts">10</sup>
      </a>
    </li>
  </ul>
</div>

</div>