<h2 id="album-header"><%=@album.title%></h2>
<p class='aupload-time'> 
  Created <%= render({:partial => 'home/date', :locals => {:dater => @album}})%> 
</p>
<p class= "asetting" >
<a href="/images/new" class = "btn pull-left">
	<i class="icon-plus"></i> Add New Image
</a>
<a href="" >Delete</a>
<a href="" >Edit</a> 


</p>


<div class="well album-thumb">
  <ul class="thumbnails">
    <% @album.images.each do |image| %>
    <li class="span2">
      <a href="<%=image_path(image.id)%>" class="thumbnail">
        <img src= <%= image.image.url(:thumb)%> alt=""></a>
    </li>
   <%end%>
  </ul>
  
</div>

<div id="album-action"  class="well post-actions">
  <%= render({:partial => new_action_path, :locals => {:target => @album}})%> 
</div>
<div class ="album-comments">
<%= render({:partial => new_comment_path, :locals => {:commentary => @album}})%>
</div>