<h2 id="album-header"><%=@image.album.title%> - <%=@image.album.images.index(@image)+1%> of <%=@image.album.images.count%></h2>

<p class='upload-time'> 
  Uploaded <%= render({:partial => 'home/date', :locals => {:dater => @image}})%> 
</p>
<p class= "psetting" >
<a href="" >Delete</a>
<a href="" >Edit</a> 

</p>
<div class="well album-thumb image-preview">

      <a href="<%=@image.image.url%>" class="thumbnail">
        <img src=<%=@image.image.url%> alt="" >
      </a> 

</div>
  <div class="well caption row">
    <div class="span4">
      <img src=<%=@Image_owner.photo.url%> alt="" >
    </div>
    <div class="span8">
      <h4>
        <a href="">
          <%=@Image_owner.first_name%> <%=@Image_owner.last_name%>
        </a>
      </h4> 
      <p><%=@image.caption%>
        <% unless @image.location == "" %>
        - at<a href=""><%=@image.location%></a>
        <%end%>

    </div>
  </div>
<div id="album-action"  class="well post-actions">
  <%= render({:partial => 'actions/new', :locals => {:target => @image}})%> 
</div>
<div class ="album-comments">
<%= render({:partial => new_comment_path, :locals => {:commentary => @image}})%>
</div>