<!DOCTYPE html>
<html>
<head>
<title>Dinobot</title>

<%= stylesheet_link_tag  "bootstrap", "dinobot", :media => "all" %>
<% if params[:controller] == 'profiles' %>
<%= stylesheet_link_tag "profiles"%>
<%end%>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

</head>

	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="i-bar"></span>
						<span class="i-bar"></span>
						<span class="i-bar"></span>
					</a>
					<img id="logo" src="/assets/blue_robot_sh.png">
					<a class="brand" href="/home">Dinobot</a>
					<!-- <form class="navbar-search pull-left" action="">
					<input type="text" class="search-query span2" placeholder="Search"></form> -->
					<form class="navbar-search pull-left" action="">
						<input type="text" class="search-query span2" placeholder="Search" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="[]">
						<a href="<%=people_path%>"> <i class="icon-white icon-search"></i></a>
					</form>
					<div class="nav-collapse">
						<div class="user pull-right">
							<div class="btn-group">
								<a class="img_h btn" href="#">
									<% if params[:controller] != 'profiles' || params[:action] != 'new'%>
										<%= image_tag @current_profile.photo.url, :class =>"pull-right" %>
									<%else%>
										<%= image_tag "pic.png", :class =>"pull-right" %>
									<%end%>

								</a>
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu pull-right">
									<li>
										<a href="profiles/show">Profile</a>
									</li>
									<li>
										<a href="/profiles/<%= @current_user.username %>/account_setting">Setting</a>
									</li>
									<li>
										<a href="#">Help</a>
									</li>
									<li class="divider"></li>
									<li>
										<%= link_to("Logout", logout_path) %>
									</li>
								</ul>
							</div> <!-- btn-group -->
						</div> <!-- user pull-right -->
						<ul class="nav pull-right">
							<li>
								<a href="<%=notifications_path%>"> <i class="icon-white icon-user"></i><%=@notifications_counter%></a>				
							</li>
							<li>
								<a href="#"><i class="icon-white icon-envelope"></i> <%= @conver_counter %></a>	
							</li>
							<li>
								<a href="#"><i class="icon-white icon-flag"></i></a>
							</li>
						</ul>
					</div> <!--/ nav-collapse -->				
				</div> <!--/ container -->	
			</div> <!--navbar-inner-->
		</div> <!--navbar-->

		<div id="main-container" class="container">
			<div class="row">
				<div class="span4 sides">
					<% if params[:controller] != 'profiles' || params[:action] != 'new'%>
						<div class="profile-box">
							<div class="top-profile-box">
								<div class="row-fluid">
									<div class="span4">

										<% if params[:username]%>
										<% profile_pic = Profile.find_by_user_id(User.find_by_username(params[:username])).photo.url %>
										<%= image_tag profile_pic %>
										<%else%>
										<%= image_tag @current_profile.photo.url %>
										<%end%>

									</div>
									<div class="span8">
										<a href="">
											<h4>
												<% if params[:controller]== 'profiles'%>
													<%= params[:username]%>  
												<%else%>
													<%=@current_user.username%>
												<%end%>
												<i class="icon-ok-sign icon-white"></i>
											</h4>
										</a>
										<% if params[:action]== 'edit'%>
											<a href="">
												<h5>Change Avatar</h5>
											</a>	
										<%else%>
											<% if params[:username] == @current_user.username%>
												<a href="<%= edit_profile_path(@current_user.username)%>">
												<h5>Edit my profile</h5>
											<%end%>
											</a> 
										<%end%>
									</div> <!--span8-->
								</div> <!--row-fluid-->
							</div> <!--top-profile-box-->
							<div class="bottom-profile-box" >
								<div class="row-fluid">
									<div class="span4" id="part1">
										<i class="icon-heart icon-white"></i>
										<a href="#">
											<h5>Fans</h5>
											<h5>124</h5>
										</a>
									</div>
									<div class="span4" id="part2">
										<i class="icon-user icon-white"></i>
										<a href="#">
											<h5>Friends</h5>
											<h5>
												<%unless params[:username]%>
												<%=@current_user.aspects[0].people.count%>
												<%else%>
												<%=User.find_by_username(params[:username]).aspects[0].people.count%>
												<%end%>
											</h5>
										</a>
									</div>
									<div class="span4" id="part3">
										<i class="icon-share icon-white"></i>
										<a href="#">
											<h5>Sharing</h5>
											<h5>
												<%unless params[:username]%>
												<%=@current_person.posts.count%>
												<%else%>
												<%=User.find_by_username(params[:username]).person.posts.count%>
												<%end%>
											</h5>
										</a>
									</div>
								</div> <!--row-fluid-->
							</div> <!--bottom-profile-box-->
						</div> <!--profile-box-->
						<% unless params[:username] %>
							<div class="tabbable tabs-left">
								<ul class="nav nav-tabs" id="left-nav">
									<li >
										<a href="<%= home_path%>" data-toggle="tab">
											<span>
												<i class="icon-home"></i>
												Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											</span>
										</a>
									</li>
									<li>
										<a href="<%= profile_path(@current_user.username)%>" data-toggle="tab" >
											<span>
												<i class="icon-user"></i>
												Profile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											</span>
										</a>
									</li>
									<li >
										<a href="/conversations/" data-toggle="tab">
											<span>
												<i class="icon-envelope"></i>
												Messages
											</span>
										</a>
									</li>
									<li >
										<a href="<%= aspects_path%>" data-toggle="tab">
											<span>
												<i class="icon-user"></i>
												Friends&nbsp;&nbsp;&nbsp;&nbsp;
											</span>
										</a>
									</li>
									<li >
										<a href="<%=profile_albums_path(@current_profile.user.username)%>" data-toggle="tab">
											<span>
												<i class="icon-picture"></i>
												Photos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											</span>
										</a>
									</li>
									<li >
										<a href="videos_preview.html" data-toggle="tab">
											<span>
												<i class="icon-film"></i>
												Videos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											</span>
										</a>
									</li>
									<li >
										<a href="/profiles/<%= @current_user.username %>/account_setting" data-toggle="tab">
											<span>
												<i class="icon-cog"></i>
												Settings&nbsp;&nbsp;&nbsp;
											</span>
										</a>
									</li>
								</ul>
							</div> <!--tabbable tabs-left-->
						<% else %>
						<%@name = User.find_by_username(params[:username]).profile.first_name%>
							<div class="tabbable tabs-left">
								<ul class="nav nav-tabs" id="left-nav">
									<li >
										<a href="" data-toggle="tab">
											<span>
												<i class="icon-home"></i>
												<%=@name%>'s Stream&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											</span>
										</a>
									</li>
									<li>
										<a href="" data-toggle="tab" >
											<span>
												<i class="icon-user"></i>
												<%=@name%>'s Info&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											</span>
										</a>
									</li>
									<li >
										<a href="" data-toggle="tab">
											<span>
												<i class="icon-user"></i>
												<%=@name%>'s Friends&nbsp;&nbsp;&nbsp;&nbsp;
											</span>
										</a>
									</li>
									<li >
										<a href="<%=profile_albums_path(params[:username])%>" data-toggle="tab">
											<span>
												<i class="icon-picture"></i>
												<%=@name%>'s Photos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											</span>
										</a>
									</li>
									<li >
										<a href="" data-toggle="tab">
											<span>
												<i class="icon-film"></i>
												<%=@name%>'s Videos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											</span>
										</a>
									</li>
								</ul>
							</div> <!--tabbable tabs-left-->
						<%end%>

						<div class="well footer">
							<div class="copyright">
								<p>&copy; Copyright 2012 Dinobot Social Engine</p>
							</div>
							<div class="footer-links">
								<a href="#">About •</a>
								<a href="#">Privacy •</a>
								<a href="#">Terms •</a>
								<a href="#">Advertising</a>
								<a href="#">Blog •</a>
								<a href="#">Contact •</a>
								<a href="#">Help •</a>
								<a href="#">English</a>
							</div>
						</div>
					</div> <!--span4 left-sidebar sides-->
				<%end%>
				<div class="span8 middle">
					<%= yield %>
				</div> <!--span4 middle-->
				<div class="span4 right-sidebar sides">
				</div> <!--span4 right-sidebar sides-->
			</div> <!--row-->
		</div> <!--main container-->

<script src="jquery-1.7.1.js"></script>
<script src="bootstrap-transition.js"></script>
<script src="bootstrap-alert.js"></script>
<script src="bootstrap-modal.js"></script>
<script src="bootstrap-dropdown.js"></script>
<script src="bootstrap-scrollspy.js"></script>
<script src="bootstrap-tab.js"></script>
<script src="bootstrap-tooltip.js"></script>
<script src="bootstrap-popover.js"></script>
<script src="bootstrap-button.js"></script>
<script src="bootstrap-collapse.js"></script>
<script src="bootstrap-carousel.js"></script>
<script src="bootstrap-typeahead.js"></script>
</body>
</html>