<!DOCTYPE html>
<html>
<head>
	<title>Dinobot</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>

<body>

<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
	<div class="container">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="i-bar"></span>
			<span class="i-bar"></span>
			<span class="i-bar"></span>
		</a>
		<img id="logo" src="/assets/blue_robot_sh.png">
		<a class="brand" href="/people/home">Dinobot</a>
		<!-- <form class="navbar-search pull-left" action="">
			<input type="text" class="search-query span2" placeholder="Search"></form> -->

			            <form class="navbar-search pull-left" action="">
			<input type="text" class="search-query span2" placeholder="Search" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="[&quot;Alabama&quot;,&quot;Alaska&quot;,&quot;Arizona&quot;,&quot;Arkansas&quot;,&quot;California&quot;,&quot;Colorado&quot;,&quot;Connecticut&quot;,&quot;Delaware&quot;,&quot;Florida&quot;,&quot;Georgia&quot;,&quot;Hawaii&quot;,&quot;Idaho&quot;,&quot;Illinois&quot;,&quot;Indiana&quot;,&quot;Iowa&quot;,&quot;Kansas&quot;,&quot;Kentucky&quot;,&quot;Louisiana&quot;,&quot;Maine&quot;,&quot;Maryland&quot;,&quot;Massachusetts&quot;,&quot;Michigan&quot;,&quot;Minnesota&quot;,&quot;Mississippi&quot;,&quot;Missouri&quot;,&quot;Montana&quot;,&quot;Nebraska&quot;,&quot;Nevada&quot;,&quot;New Hampshire&quot;,&quot;New Jersey&quot;,&quot;New Mexico&quot;,&quot;New York&quot;,&quot;North Dakota&quot;,&quot;North Carolina&quot;,&quot;Ohio&quot;,&quot;Oklahoma&quot;,&quot;Oregon&quot;,&quot;Pennsylvania&quot;,&quot;Rhode Island&quot;,&quot;South Carolina&quot;,&quot;South Dakota&quot;,&quot;Tennessee&quot;,&quot;Texas&quot;,&quot;Utah&quot;,&quot;Vermont&quot;,&quot;Virginia&quot;,&quot;Washington&quot;,&quot;West Virginia&quot;,&quot;Wisconsin&quot;,&quot;Wyoming&quot;]">			</form>

			
		<div class="nav-collapse">

			<div class="user pull-right">

				<div class="btn-group">

					<a class="btn" href="#">
						<%= image_tag "pic.png", :class =>"pull-right" %></a>
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="caret"></span>
						</a>

						<ul class="dropdown-menu pull-right">
							<li>
								<a href="profiles/index">Profile</a>
							</li>
							<li>
								<a href="#">Setting</a>
							</li>
							<li>
								<a href="#">Help</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="/logout">Logout</a>
							</li>
						</ul>
					</div>

				</div>

				<ul class="nav pull-right">
					<li>
						<a href="#"> <i class="icon-white icon-user"></i>
						</a>
					</li>
					<li>
						<a href="#"> <i class="icon-white icon-envelope"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-white icon-flag"></i>
						</a>
					</li>
				</ul>

			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>

<%= yield %>

						<div class="span4 right-sidebar sides"></div>
						<!-- /right-sidebar-->

						<script src="jquery-1.7.1.js"></script>
						<script src="bootstrap-transition.js"></script>
						<script src="bootstrap-alert.js"></script>
						<script src="bootstrap-modal.js"></script>
						<script src="bootstrap-dropdown.js"></script>
						<script src="bootstrap-scrollspy.js"></script>
						<script src="bootstrap-tab.js"></script>
						<script src="bootstrap-tooltip.js"></script>
						<script src="bootstrap-popover.js"></script>
						<script src="bootstrap-button.js"></script>
						<script src="bootstrap-collapse.js"></script>
						<script src="bootstrap-carousel.js"></script>
						<script src="bootstrap-typeahead.js"></script>
</body>
					</html>